<div class="root">
    <div class="navbar has-background-dark">
        <div class="navbar-brand">
            <div class="navbar-item">
                <h1 class="app-name has-gradient-text">To Do List</h1>
            </div>
        </div>
    </div>

    <div class="board">

        <div class="board-bar">
            <p class="board-name">Just Do It</p> 
        </div>

        <div class="board-wrapper">

            <div class="board-columns"
            cdkDropListGroup>
                <div class="board-column" *ngFor="let column of board.columns">

                    <div class="column-title">
                        {{ column.name }}
                    </div>

                    <div class="task-container"
                    cdkDropList
                    [cdkDropListData]="column.tasks"
                    (cdkDropListDropped)="drop($event)">
                        <div class="task" *ngFor="let item of column.tasks" cdkDrag>
                            {{ item }}
                            <div class="btn-container">
                                <button class="delete-btn" (click)="deleteTask(item, column)">✖</button>
                            </div>
                        </div>

                        
                    </div>

                    <app-add-window
                    [column]="column" 
                    ></app-add-window>
                </div>

            </div>
        </div>

    </div>

</div>
